/****************************/
/*Dmitri Klassen's framework*/
/****************************/

/*center content horizontally and vertically*/
.df-center {
  position: relative;
}

.df-center div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}