/*reset document*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*remove recaptcha badge*/
.grecaptcha-badge {
  display: none !important;
}

/*general styles*/
/*set default font size (can use rems)*/
html {
  font-size: 22px;
  letter-spacing: 2px;
}
@media(max-width: 1500px){
  html {
    font-size: 20px;
  }
}
@media(max-width: 1300px){
  html {
    font-size: 17px;
  }
}
@media(max-width: 1100px){
  html {
    font-size: 14px;
  }
}
@media(max-width: 900px){
  html {
    font-size: 12px;
  }
}

/*hide overflows allows 'top' button hover effects*/
section {
  overflow: hidden;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 37.4px;
  font-size: 37.4px;
  font-size: 1.7rem;
}

ul {
  padding: none;
  list-style: none;
}

/*reusable centering classes*/
.center {
  position: relative;
}

.center .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*main sections headings*/
.main-heading {
  font-family: 'Megrim';
  color: #333;
  font-size: 110px;
  font-size: 110px;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 30px;
}

/*less segnifigant heading*/
.heading {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 39.6px;
  font-size: 39.6px;
  font-size: 1.8rem;
  letter-spacing: 4px;
  margin-top: 15px;
}

/*even less segnifigant heading*/
.sub-heading {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 35.2px;
  font-size: 35.2px;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

/*class for some text areas*/
.text {
  text-align: justify;
}

/*general section styles*/
section {
  position: relative;
  padding: 100px 0;
}

section:nth-child(even) {
  background-color: rgba(0, 0, 0, .03);
}

/*default container styles*/
.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
@media (min-width: 500px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 800px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1120px;
  }
}

/*for top left decorative graphics*/
.section-corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 300px;
}

/*for 'top' buttons*/
.section-top, .section-top-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  max-width: 30vw;
  height: 100px;
  max-height: 20vw;
  cursor: pointer;
}

.section-top-overlay {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

a:hover .section-top-overlay, a:focus .section-top-overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.top-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: 'Megrim';
  font-size: 20px;
  color: #fff;
  z-index: 21;
}

/*for primary navbar*/
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 0;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container li {
  position: relative;
}

/*for links in navbar*/
nav .container a, nav .mobile-nav a {
  color: #fff;
  position: relative;
  z-index: 10;
}

nav .container .underline {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-bottom: 1px solid #83fc99;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

nav .container a:hover + .underline, nav .container a:focus + .underline {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav .container a:focus {
  outline: none;
}

/*for mobile hamburger button*/
nav .container .hamburger {
  width: 30px;
  height: 25px;
  display: none;
  margin: 0 0 0 auto;
  position: relative;
  cursor: pointer;
}

nav .container .hamburger span {
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transition: opacity .3s ease-in-out, background-color .1s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, background-color .1s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out, background-color .1s ease-in-out;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out, background-color .1s ease-in-out, -webkit-transform .3s ease-in-out;
}

nav .container .hamburger:hover span {
  background-color: #83fc99;
}

nav .container .hamburger span:nth-child(1) {
  top: 0px;
}
nav.active .container .hamburger span:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(-135deg);
          transform: translateY(12px) rotate(-135deg);
}

nav .container .hamburger span:nth-child(2) {
  top: 12px;
}
nav.active .container .hamburger span:nth-child(2) {
  -webkit-transform: rotate(0deg) scaleX(-1);
          transform: rotate(0deg) scaleX(-1);
  opacity: .3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

nav .container .hamburger span:nth-child(3) {
  top: 24px;
}
nav.active .container .hamburger span:nth-child(3) {
  -webkit-transform: translateY(-12px) rotate(135deg);
          transform: translateY(-12px) rotate(135deg);
}

/*for mobile drop-down nav*/
nav .mobile-nav {
  display: none;
  height: 0;
  text-align: center;
  padding-top: 0px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  overflow: hidden;
  -webkit-transition: height .3s ease-in-out, padding .3s ease-in-out, opacity .3s ease-in-out;
  transition: height .3s ease-in-out, padding .3s ease-in-out, opacity .3s ease-in-out;
}

nav .mobile-nav li {
  padding: 15px;
}

/*nav changes for mobile*/
@media (max-width: 600px) {
  nav.active {
    background-color: rgba(0, 0, 0, 0.7);
  }

  nav .container li {
    display: none;
  }

  nav .container .hamburger {
    display: block;
  }

  nav .mobile-nav {
    display: block;
  }
  
  nav.active .mobile-nav {
    height: 307px;
    max-height: calc(100vh - 55px);
    padding-top: 15px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

/*SECTION SPECIFIC STYLES*/
/*--------------------------------------------------------------------*/
/*banner section*/
#banner {
  background-color: #c427d8;
  background: -webkit-radial-gradient(bottom left, #4ba2d1 -50%, #c427d8 60%, #83fc99);
  background: radial-gradient(bottom left, #4ba2d1 -50%, #c427d8 60%, #83fc99);
  width: 100%;
  height: 100vh;
  min-height: 400px;
}

#banner div {
  text-align: center;
}

/*for 'dmitri klassen'*/
#banner .name {
  display: inline-block;
  max-width: 80vw;
}

#banner .name path {
  stroke: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  stroke-dasharray: 100px;
  stroke-dashoffset: 0px;
  -webkit-animation-name: write;
          animation-name: write;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  fill: none;
  stroke-width:0.70000118;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity:1;
}

@-webkit-keyframes write {
  0% {
    stroke-dashoffset: 100px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  0.001% {
    stroke-dashoffset: 100px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes write {
  0% {
    stroke-dashoffset: 100px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  0.001% {
    stroke-dashoffset: 100px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

/*for logo*/
#banner .logo {
  display: inline-block;
  width: 100px;
  max-width: 15vw;
  height: 150px;
  max-height: 22.5vw;
}

/*general logo path styles*/
#banner .logo path {
  stroke: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  stroke-dasharray: 300px;
  stroke-dashoffset: 0px;
  -webkit-animation-name: draw-logo;
          animation-name: draw-logo;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  fill: none;
  stroke-width:2.8;
  stroke-linecap: square;
  stroke-linejoin: bevel;
  stroke-opacity:1;
}

@-webkit-keyframes draw-logo {
  0% {
    stroke-dashoffset: 300px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  0.001% {
    stroke-dashoffset: 300px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes draw-logo {
  0% {
    stroke-dashoffset: 300px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  0.001% {
    stroke-dashoffset: 300px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

/*animate logo 'D'*/
#banner .logo #d path {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  stroke-dasharray: 300px;
  stroke-dashoffset: 0px;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}

/*animate logo 'K' line segments*/
#banner .logo #k2 path, #banner .logo #k3 path, #banner .logo #k4 path {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  stroke-dasharray: 300px;
  stroke-dashoffset: 0px;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}

/*animate logo top left 'k' line segment*/
#banner .logo #k1 path {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  stroke-dasharray: 300px;
  stroke-dashoffset: 0px;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}

/*for tagline*/
#banner p {
  color: white;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

/*for the meat n' potatas of the site*/
main {
  background-color: #fff;
  position: relative;
}

/*FOR THE SKILLS SECTION*/
#skills {
  text-align: center;
}

/*for skills-specific nav bar*/
#skills .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

#skills .nav {
  width: 16.16%;
  position: relative;
  cursor: pointer;
}

#skills .nav.active {
  cursor: auto;
}

#skills .nav .underline {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  border-bottom: 2px solid #c427d8;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: border .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: border .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, border .3s ease-in-out;
  transition: transform .3s ease-in-out, border .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

#skills .nav:not(.active):hover .underline, #skills .nav:not(.active) button:focus + .underline {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  border-bottom: 2px solid #83fc99;
}

#skills .nav.active .underline {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#skills .nav svg {
  height: 37px;
  width: 37px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media(max-width: 1100px){
  #skills .nav svg{
  height: 30px;
  width: 30px;
  }
}

#skills .nav svg path {
  stroke: #c427d8;
  -webkit-transition: stroke .3s ease-in-out;
  transition: stroke .3s ease-in-out;
}

#skills .nav:not(.active):hover svg path, #skills .nav:not(.active) button:focus svg path {
  stroke: #83fc99;
}

#skills .nav p {
  color: #c427d8;
  margin: 6px;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

#skills .nav:not(.active):hover p, #skills .nav:not(.active) button:focus p {
  color: #83fc99;
}

#skills .nav button {
  position: relative;
  z-index: 10;
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

#skills .nav:not(.active) button {
  cursor: pointer;
}

#skills .nav button:focus {
  outline: none;
}

/*mobile skills-nav styles*/
@media(max-width: 600px){
  #skills .mobile-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  #skills .navbar {
    width: 70px;
    margin-bottom: 0;
    margin-right: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  #skills .nav {
    width: 70px;
    height: 40px;
  }

  #skills .nav .underline {
    border-right: 2px solid #c427d8;
    border-bottom: none;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  #skills .nav:not(.active):hover .underline, #skills .nav:not(.active) button:focus + .underline {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    border-right: 2px solid #83fc99;
    border-bottom: none;
  }

  #skills .nav.active .underline {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  .content {
    max-width: calc(100vw - 80px);
  }
}

/*FOR ABOUT SECTION*/
#about .text {
  margin-bottom: 20px;
}

#about .text:not(:nth-child(2)) {
  display: none;
}

button.more {
  background-color: #c427d8;
  border: none;
  position: relative;
  height: 47px;
  width: 118px;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button.more .overlay {
  position: absolute;
  width: 110%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -125%);
          transform: translate(-50%, -125%);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

button.less .overlay {
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
}

button.more:hover .overlay, button.more:focus .overlay {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

button.more p {
  color: #fff;
  position: relative;
  font-size: 20px;
}

/*FOR PORTFOLIO SECTION*/
.grid-parent {
  display: grid;
  -ms-grid-columns: 50fr 50fr;
      grid-template-columns: 50fr 50fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-template-areas: 
    "card1 card2"
    "redding1 redding2";
  grid-column-gap: 30px;
}
@media(max-width: 700px){
  .grid-parent {
    -ms-grid-columns: 100fr;
        grid-template-columns: 100fr;
    grid-template-areas:
      "card1"
      "redding1"
      "card2"
      "redding2";
  }
}

/*websites' cards*/
.card {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: outline .2s ease-in-out;
  transition: outline .2s ease-in-out;
  outline: 5px solid transparent;
  padding-bottom: 1px;
  height: 100%;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card:hover, a:focus .card {
  outline: 5px solid #c427d8;
}

/*card image*/
.card .thumbnail {
  width: 100%;
}

/*card title*/
.card .title {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 20px 0 20px;
  border-bottom: 1px solid #000;
}

/*card description*/
.card .description {
  font-size: 18px;
  text-align: justify;
  margin: 20px;
}

/*for 'redding' button*/
.redding-link1 {
  grid-area: redding1;
}

.redding-link2 {
  grid-area: redding2;
}

.redding-link div {
  margin: 15px 0px 60px 0px;
  padding: 15px;
  background-color: rgb(41, 171, 226);
}

.redding-link p {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #000;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.redding-link:hover p, .redding-link:focus p {
  color: #fff;
}

/*FOR EXPERIENCE SECTION*/
#redding a{
  color: #000;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

#redding a:hover, #redding a:focus{
  color: #83fc99;
  outline: none;
}

/*FOR CONTACT SECTION*/
#contact {
  padding-bottom: 0;
}

/*for user feedback*/
.form-messages {
  margin: 15px 0;
  padding: 10px;
  display: none;
  font-size: 20px;
}

.done {
  color: #fff;
  background-color: #6db3d9;
  display: block;
}

.fail {
  color: #000;
  background-color: #f22;
  display: block;
}

/*style contact form*/
input, textarea {
  width: 100%;
  border: none;
  border-left: 2px solid #c427d8;
  padding: 5px;
  font-size: 20px;
  -webkit-transition: border .15s ease-in-out;
  transition: border .15s ease-in-out;
  font-family: 'Open Sans', sans-serif;
}

input:focus, textarea:focus {
  border-left: 7px solid #83fc99;
  outline: none;
}

input {
  margin-bottom: 15px;
}

textarea {
  height: 80px;
  resize: none;
}

/*for recaptcha legality text*/
.legal {
  font-size: 12px;
  margin-bottom: 40px;
}

/*form submit button*/
form button {
  background-color: #c427d8;
  border: none;
  position: relative;
  height: 47px;
  width: 118px;
  margin: 15px 0;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

form button .overlay {
  position: absolute;
  height: 120%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-140%, -50%);
          transform: translate(-140%, -50%);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

form button:hover .overlay, form button:focus .overlay {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

form button p {
  color: #fff;
  position: relative;
  font-size: 20px;
}

#contact .text a{
  color: #000;
  -webkit-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

#contact .text a:hover, #contact .text a:focus{
  color: #83fc99;
  outline: none;
}

/*style google map*/
iframe {
  pointer-events: none;
  border: none;
  width: 100%;
  height: 400px;
  max-height: 90vh;
  margin-top: 100px;
}