/*reset document*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*general styles*/
html {
  font-size: 16px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 1.7rem;
}

ul {
  padding: none;
  list-style: none;
}

.center {
  position: relative;
}

.center .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-heading {
  font-family: 'Megrim';
  color: #333;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 30px;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin-top: 15px;
}

.sub-heading {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.text {
  text-align: justify;
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
@media (min-width: 500px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 800px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1120px;
  }
}

section {
  position: relative;
  padding: 100px 0;
}

section:nth-child(even) {
  background-color: rgba(0, 0, 0, .03);
}

.section-corner {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 300px;
  opacity: 0.8;
}

.section-top, .section-top-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;
  max-width: 30vw;
  height: 100px;
  max-height: 20vw;
  opacity: 0.8;
  cursor: pointer;
}

.section-top-overlay {
  width: 0px;
  height: 0px;
  transition: width .3s ease-in-out, height .3s ease-in-out;
}

a:hover .section-top-overlay, a:focus .section-top-overlay {
  width: 150px;
  max-width: 30vw;
  height: 100px;
  max-height: 20vw;
}

.top-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: 'Megrim';
  font-size: 20px;
  color: #fff;
  z-index: 21;
}

/*navbar*/
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
  padding: 15px 0;
  transition: background-color .3s ease-in-out;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

nav .container a, nav .mobile-nav a {
  color: #fff;
  text-decoration: none;
}

nav .container a:hover, nav .mobile-nav a:hover {
  color: #83fc99;
}

nav .container .hamburger {
  width: 30px;
  height: 25px;
  display: none;
  margin: 0 0 0 auto;
  position: relative;
  cursor: pointer;
}

nav .container .hamburger div {
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  opacity: 1;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

nav .container .hamburger div:nth-child(1) {
  top: 0px;
}
nav.active .container .hamburger div:nth-child(1) {
  transform: translateY(12px) rotate(-135deg);
}

nav .container .hamburger div:nth-child(2) {
  top: 12px;
}
nav.active .container .hamburger div:nth-child(2) {
  transform: rotate(0deg) scaleX(-1);
  opacity: .3;
}

nav .container .hamburger div:nth-child(3) {
  top: 24px;
}
nav.active .container .hamburger div:nth-child(3) {
  transform: translateY(-12px) rotate(135deg);
}

nav .mobile-nav {
  display: none;
  height: 0;
  text-align: center;
  padding-top: 0px;
  opacity: 0;
  overflow: hidden;
  transition: height .3s ease-in-out, padding .3s ease-in-out, opacity .3s ease-in-out;
}

nav .mobile-nav li {
  padding: 15px;
}

button.more {
  background-color: #c427d8;
  border: none;
  position: relative;
  height: 47px;
  width: 118px;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

button.more .overlay {
  position: absolute;
  width: 110%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -125%);
  transition: transform .3s ease-in-out;
}

button.less .overlay {
  transform: translate(-50%, 25%);
}

button.more:hover .overlay, button.more:focus .overlay {
  transform: translate(-50%, -50%);
}

button.more p {
  color: #fff;
  position: relative;
}

/*nav changes for mobile*/
@media (max-width: 600px) {
  nav.active {
    background-color: rgba(0, 0, 0, 0.7);
  }

  nav .container li {
    display: none;
  }

  nav .container .hamburger {
    display: block;
  }

  nav .mobile-nav {
    display: block;
  }
  
  nav.active .mobile-nav {
    height: 307px;
    max-height: calc(100vh - 55px);
    padding-top: 15px;
    opacity: 1;
  }
}

/*section specific*/
/*banner section*/
#banner {
  background-color: #c427d8;
  background: -webkit-radial-gradient(bottom left, #4ba2d1 -50%, #c427d8 60%, #83fc99);
  background: radial-gradient(bottom left, #4ba2d1 -50%, #c427d8 60%, #83fc99);
  width: 100%;
  height: 100vh;
}

#banner div {
  text-align: center;
}

/*animate svg header*/
#banner .name {
  display: inline-block;
  max-width: 80vw;
}

#banner .name path {
  stroke: #fff;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation-name: write;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  fill: none;
  stroke-width:0.70000118;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity:1;
}

@keyframes write {
  to {
    stroke-dashoffset: 0;
  }
}

/*animate svg logo*/
#banner .logo {
  display: inline-block;
  width: 100px;
  height: 150px;
}

#banner .logo path {
  stroke: #fff;
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation-name: draw;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  fill: none;
  stroke-width:2.8;
  stroke-linecap: square;
  stroke-linejoin: bevel;
  stroke-opacity:1;
}

@keyframes draw {
  60% {
    stroke-dashoffset: 300px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/*animate logo 'D'*/
#banner .logo #d path {
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation-name: draw-d;
  animation-duration: 6s;
}

@keyframes draw-d {
  72% {
    stroke-dashoffset: 300px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/*animate logo 'K'*/
#banner .logo #k1 path, #banner .logo #k2 path, #banner .logo #k3 path, #banner .logo #k4 path {
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation-name: draw-k;
  animation-duration: 5.8s;
}

@keyframes draw-k {
  71% {
    stroke-dashoffset: 300px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/*animate logo 'K1'*/
#banner .logo #k1 path {
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
  animation-name: draw-k1;
  animation-duration: 5.6s;
}

@keyframes draw-k1 {
  70% {
    stroke-dashoffset: 300px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/*tagline*/
#banner p {
  color: white;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: .4s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*page content*/
main {
  /*z-index: 20;*/
  background-color: #fff;
  position: relative;
}

/*skills section*/
#skills {
  text-align: center;
}

#skills .navbar {
  display: flex;
  margin-bottom: 30px;
}

#skills .nav {
  width: 16.16%;
  position: relative;
  cursor: pointer;
}

#skills .nav.active {
  cursor: auto;
}

#skills .nav .underline {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 0%;
  border-bottom: 2px solid #c427d8;
  left: 50%;
  transform: translateX(-50%);
  transition: width .3s ease-in-out, border .3s ease-in-out;
}

#skills .nav:not(.active):hover .underline {
  width: 100%;
  border-bottom: 2px solid #83fc99;
}

#skills .nav.active .underline {
  width: 100%;
}

#skills .nav svg {
  height: 37px;
  width: 37px;
  display: inline-block;
  margin-top: 6px;
}

#skills .nav svg path {
  stroke: #c427d8;
  transition: stroke .3s ease-in-out;
}

#skills .nav:not(.active):hover svg path {
  stroke: #83fc99;
}

#skills .nav p {
  color: #c427d8;
  margin: 6px;
  transition: color .3s ease-in-out;
}

#skills .nav:not(.active):hover p {
  color: #83fc99;
}

/*for about section*/
#about .text {
  margin-bottom: 20px;
}

#about .text:not(:nth-child(2)) {
  display: none;
}

/*for portfolio section*/
.col-parent {
  display: flex;
  justify-content: space-between;
}
@media(max-width: 700px){
  .col-parent {
    flex-wrap: wrap;
  }
}

.card-container {
  width: 45%;
  margin-bottom: 30px;
}

.card-container a {
  text-decoration: none;
}

.card {
  background-color: rgba(0, 0, 0, 0.1);
  transition: border .2s ease-in-out;
  border: 5px solid #fff;
}
@media(max-width: 700px){
  .col-parent .card {
    width: 100%;
  }
}

.card:hover {
  border: 5px solid #83fc99;
}

.card .thumbnail {
  width: 100%;
}

.card .title {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 15px 0 15px;
  border-bottom: 1px solid #000;
}

.card .description {
  font-size: 18px;
  text-align: justify;
  margin: 15px;
}

.card-container .redding-link div {
  margin: 10px 5px;
  padding: 15px;
  background-color: rgb(41, 171, 226);
}

.card-container .redding-link p {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #000;
  transition: color .3s ease-in-out;
}

.card-container .redding-link:hover p {
  color: #fff;
}